.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml

.vscode/

source/_drafts/

# per https://hexo.io/docs/github-pages
# unsure if this helps or not
# public/

# one off
/source/ascii/colortest2.cast